window {
    margin: 0px;
    border: 1px;
    background-color: #141414;
    font-family: "Ubuntu Nerd Font";
}

#input {
    margin: 5px;
    border: none;
    background-color: #141414;
    color: #f0f0f0
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #141414;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #141414;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f0f0f0
}

#entry:selected {
    background-color: #629adf;
}
