* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font Ret", "Ubuntu", "Fira", "Inconsolata", sans-serif;
}

.main {
    font-size: 14pt;
}

.side {
    font-size: 12pt;
}

window#waybar {
    background: transparent;
    color: white;
    border-bottom: 1px solid transparent;
}

#window {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#workspaces button {
    padding: 10px 20px 5px 20px;
    background: transparent;
    color: white;
    border-bottom: 1px solid transparent;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px;
}

#workspaces button.active {
    color: white;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

#window, #pulseaudio, #network, #tray, #custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}
