* {
    font-family: "FiraCode Nerd Font Ret", "Ubuntu", "Fira", "Inconsolata", sans-serif;
    font-size: 10pt;
    border: none;
    border-radius: 6px;
    padding: 2px 6px;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

.modules-right,
.modules-left {
    background: #1e1e2e;
    border-radius: 8px;
    margin: 6px;
    padding: 0;
}

#tags button {
    background-repeat: no-repeat;
    background-size: 4px 4px;
    background-position: 90% 90%;
}

#tags button.focused {
    background-color: #89b4fa;
    color: #1e1e2e;
    border-radius: 4px;
}

#tags button.occupied {
    background-image: radial-gradient(circle, #a6e3a1 50%, transparent 51%);
}

#tags button.urgent {
    background-image: radial-gradient(circle, #f38ba8 50%, transparent 51%);
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #282c3a;
}

#workspaces button {
    padding: 10px 20px 5px 20px;
    background: transparent;
    color: white;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.9);
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.active {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
