* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", "Ubuntu", "Fira", "Inconsolata", sans-serif;
    font-size: 18pt;
}

window#waybar {
    background: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(100, 114, 125, 1);
    color: white;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: white;
    border-bottom: 1px solid transparent;
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 1px solid white;
}

#clock {
    padding: 0 8px;
    margin: 0 0px 0px 8px;
}

#mode, #backlight, #network, #pulseaudio {
    padding: 0 8px;
    margin: 0 0px 0px 8px;
}

#clock {
    background-color: #64727D;
}
